<!DOCTYPE html>
<html>

<head>
    <title>Test Register</title>
</head>

<body>
    <h2>Register User</h2>
    <form action="http://127.0.0.1:5000/register" method="POST">
        <label>Username:</label><br>
        <input type="text" name="username"><br><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br><br>

        <label>Password:</label><br>
        <input type="password" name="password"><br><br>

        <input type="submit" value="Register">
    </form>
</body>

</html>